# Environment variables
.env

# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3
traffic.db

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Videos
outputs/
uploads/
videos/

# Model weights (optional)
*.pt
models/*.pt